.container{
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr */
    grid-template-columns: repeat(3, 1fr); /* 1조각씩 3개로 나눈다 */
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: skyblue;
}