h1{
    margin: 40px 0;
}
/* h1:first-child{
    text-shadow: 5px 5px;
} */
h1:nth-child(1){
    text-shadow: 5px 5px;
}
h1:nth-child(2):hover{
    text-shadow: 5px 5px 3px skyblue;
}
h1:nth-child(3){
    text-shadow: 0 0 3px red;
}
/* h1:last-child{
    text-shadow: 0 0 3px blue, 0 0 5px magenta;
} */
h1:nth-child(4){
    text-shadow: 0 0 3px blue, 0 0 5px magenta;
}
