.join{
    width: 92px;
    height: 38px;
    background-color: #00704a;
    color: white;

    /* 테두리 */
    border: none;
    border-radius: 5px;

    /* 폰트 */
    font-size: 14px;
    text-align: center;
    font-family: '맑은 고딕';
    line-height: 36px;
    
    /* 자식 요소들을 배치화 */
    display: felx;
    /* 메인축으로 가운데 */
    justify-content: center;
    /* 서브축으로 가운데 */
    align-items: center;
}