@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.login-title{
    display: flex;
    height: 22px;
    justify-content: center;
    margin-bottom: 16px;
    position: relative;
}

.strikethrough{
    background-color: #ebebeb;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 100%;
}

.caption{
    background-color: #fff;
    color: #858585;
    padding: 0 8px;
    z-index: 1;
    font-size: 15px;
    font-weight: 400;
}
.button-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_button{
    width: 400px;
    height: 52px;
    
    font-size: 16px;
    font-weight: 700;
    font-family: 'Pretendard-Regular';

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 10px;
}
.facebook{
    background-color: #1877f2;
    color: white;
}

.naver{
    background-color: #00c73c; 
    color: white;
}

.apple{
    background-color: #000;
    color: white;
}

.kakao{
    background-color: #ffde00;
    color: #3c1e1e;
}